[Unit]
Description=FastAPI Service
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/root/application
ExecStart=/usr/local/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker main:app --bind 0.0.0.0:8000 --workers 2

[Install]
WantedBy=multi-user.target